* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
  }
  
  img {
    max-width: 100%;
  }
  s
  /* ==============
  Typography
  ============= */
  
  h1,
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  
  h1,
  h2,
  .header-btn,
  .section-paragraph {
    color: hsl(192, 100%, 9%);
  }
  
  h1 {
    font-size: 1.8rem;
    margin-top: 0.5em;
    grid-column: 1 / -1;
    grid-row: 2;
  }
  
  h2 {
    font-size: 1.25rem;
  }
  
  a {
    display: inline-block;
  }
  
  .title-paragraph {
    font-size: 0.92rem;
    font-weight: 400;
    grid-row: 3;
    grid-column: 1 / -1;
  }
  
  .image-header {
    grid-row: 5 / -1;
    grid-column: 1/ -1;
  }
  
  .section-title {
    margin-bottom: 0.5em;
  }
  
  .section-bottom-title {
    font-size: 1.125rem;
    margin-bottom: 1.25em;
  }
  
  .section-paragraph {
    margin-bottom: 1em;
    padding: 0 0.7em;
    font-size: 0.95rem;
    line-height: 1.5;
    opacity: 50%;
  }
  
  .section-image {
    padding: 1.5em 0.7em;
    margin-bottom: 1.5em;
    width: 90%;
  }
  
  .copyright {
    text-align: center;
    font-size: 0.75rem;
    align-self: center;
  }
  
  .contact-details p {
    font-size: 0.99rem;
    line-height: 1.5;
  }
  
  /* logo */
  .header-logo {
    width: 70%;
    max-width: 150px;
  }
  
  .footer-logo,
  .icon-facebook,
  .icon-twitter,
  .icon-instagram {
    filter: brightness(0) invert(1);
  }
  
  .icon-facebook,
  .icon-twitter,
  .icon-instagram {
    width: 30px;
    margin-right: 0.25em;
    margin-left: 0.25em;
  }
  
  .icon-location {
    align-self: start;
    margin-top: 0.8em;
  }
  
  /* buttons */
  .btn {
    border-radius: 30px;
  }
  
  .section-btn,
  .title-btn {
    font-size: 0.925rem;
    padding: 0.75em 2em;
    align-self: center;
  }
  
  .header-btn {
    background: rgb(169, 168, 168);
    font-size: 0.8rem;
    padding: 0.25em 1.75em;
    box-shadow: 0 0 3px #c5c4c4;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: start;
  }
  
  .title-btn {
    margin-bottom: 3.6em;
    grid-column: 1 / -1;
    grid-row: 4;
  }
  
  .header-btn,
  .title-btn,
  .section-btn {
    font-weight: 700;
  }
  
  .btn,
  .footer-link {
    text-decoration: none;
  }
  
  .section-btn,
  .title-btn,
  .footer-link {
    color: #fff;
  }
  
  .footer-list {
    list-style: none;
    line-height: 2;
  }
  
  /* ==============
  Layout
  ============= */
  
  header {
    background: hsl(210, 8%, 95%);
  }

  .home2{
    background: hsl(210, 8%, 95%);
    border-radius: 15px; 
  }
  
  footer {
    background: hsl(192, 100%, 9%);
    color: #fff;
  }
  
  header,
  main {
    text-align: center;
  }
  
  .container {
    width: 90%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-header {
    padding: 1em 0;
    display: grid;
    grid-template: 70px repeat(2, 120px) 100px 1fr / 1fr 1fr;
  }
  
  .container-main {
    margin-top: 2em;
    display: grid;
    grid-template-rows: repeat(2, auto) 600px 100px;
  }
  
  .container-footer {
    padding-top: 8em;
    display: grid;
    grid-template-rows: 65px 250px repeat(2, auto) repeat(2, 60px);
  }
  
  .section,
  .section-4 {
    box-shadow: 0 0 7px hsl(0, 4%, 89%);
    border-radius: 15px;
    background: #fff;
  }
  
  .section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    align-self: start;
  }
  
  .section-3 {
    margin-bottom: 3em;
  }
  
  .section-4 {
    margin-top: 4em;
    padding: 2em 0;
    align-self: center;
  }
  
  .contact-details {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-bottom: 1.5em;
    align-items: center;
  }
  
  .social-media-icons {
    justify-self: center;
    align-self: end;
  }

  .box1 {
    max-width: 400px;
    width: auto;
  height: 280px;
  }
  
  
  /* ==============
  Media Query
  ============= */
  
  @media (min-width: 600px) {
    .container {
      max-width: 1000px;
    }
  
    .container-header {
      grid-template: 70px repeat(2, auto) 100px / 1fr 1.25fr;
      grid-row-gap: 20px;
      grid-column-gap: 40px;
    }
  
    h1,
    .title-paragraph,
    .title-btn {
      grid-column: 1;
    }
  
    h1,
    .title-paragraph {
      text-align: left;
    }
  
    h1 {
      align-self: end;
    }
  
    .image-header {
      grid-column: 2;
      grid-row: 2 / 5;
    }
  
    .section {
      display: grid;
      grid-template-columns: 0 repeat(auto-fill, minmax(100px, 430px));
      grid-gap: 50px;
    }
  
    .section-text {
      grid-column: 2;
      grid-row: 1;
      align-self: center;
    }
  
    .section-title,
    .section-paragraph {
      text-align: left;
    }
  
    .section-paragraph {
      padding: 0;
    }
  
    .section-image {
      grid-column: 3;
      width: 90%;
      height: 90%;
      object-fit: cover;
    }
  
    .section-text-opposite {
      grid-column: 3;
    }
  
    .section-image-2 {
      grid-column: 2;
    }
  
    .section-4 {
      max-width: 600px;
      justify-self: center;
      padding-left: 5em;
      padding-right: 5em;
    }
  
    .section-bottom-title {
      font-size: 1.4rem;
    }
  
    .container-footer {
      grid-template: 60px repeat(2, auto) / repeat(4, auto);
      grid-column-gap: 60px;
      padding-bottom: 3em;
    }
  
    .contact-details,
    .footer-list,
    .social-media-icons {
      grid-row: 2;
    }
  
    .contact-details {
      grid-column: 1;
      margin-bottom: 0;
    }
  
    .social-media-icons {
      justify-self: start;
      align-self: start;
    }
  
    .copyright {
      grid-row: 3;
      grid-column: 4;
    }
  
    /* buttons */
  
    .header-btn {
      font-size: 1rem;
    }
  
    .title-btn {
      justify-self: start;
      grid-row: 4;
      align-self: baseline;
    }
  }
  